   {% extends "dash/index.html" %}


   {% block content %}
   	<h1 class="page-header">Homepage</h1>
   	<div class"container-fluid">
         <br>
   		<div class="row">
   			<a class="btn btn-primary btn-lg btn-block" href="/signatureinn/homepage/dailyacs/dailyacsdata" role="button">Daily Accounts</a>
   		</div>
         <br>
         <div class="row">
            <a class="btn btn-primary btn-lg btn-block" href="/signatureinn/homepage/feedback/" role="button">Feedback Reports</a>
         </div>
   	
	</div>



   	 {% endblock %}


   	 